// bower:scss
@import 'bootstrap/scss/bootstrap.scss';
// endbower

@import '../bower_components/components-font-awesome/css/font-awesome.min.css';

div.row {
	margin: 0px 0px 0px 0px;
}
div.container-message {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
	padding-bottom: 30px;
}
div.col-tittle {
	text-align:center;
	margin-bottom: 15px;
}

div.panel-bottom-margin {
	margin-bottom: 5px;
}

div.panel-top-margin {
	margin-top: 10px;
}

.card.game_message {
	margin-top: 2rem;
}

div.message-creator{
	margin: auto;
	width:100%;
	margin-top:1rem;
	margin-bottom:20px;
}

div.message{
	margin: auto;
	margin-bottom: 5px;
	overflow-wrap: break-word;
}

a.message{
	margin-bottom: 5px;
}

div#message-input{
	
}
.center{
	text-align:center;
}

input#message-content{
	height:100px
}

button#write-plain-comment{
	margin-left:95%;
}

label.error{
	color: #a94442;
}

.white{
	color: white;
}

.thumbnail.img-preview{
	margin-bottom: 5px!important;
	margin-left:10% !important;
}


.clickable:hover{
  transition: .3s;
  cursor:pointer;
}

.type-message {
	color: #000000;
	font-weight: bold;
}

ul {
	padding-left:20px;
	padding-right: 20px;
}

nav.navbar.main_navbar {
	box-shadow: 0 0 3px rgba( 0, 0, 0, 0.4);
}

body {
	min-height:100% !important; 
	background-color:#f7f7f7 !important;
}

.nav-pills {
	margin-top: 5px;
	margin-left: 5px;
	padding-right: 5px;
}

.card-title.msg-user {
	margin-top: .5rem;
}

.card-subtitle.msg-title{
	margin-top: 1rem;
}

.card-text.msg-body{
	margin-top: .5rem;
}
.card.game_message .card-block{
	padding-top: .3rem;
}

span.game_message_category {
	font-size: small;
}

span.game_message_category_number {
	font-size: xx-large;
}
ul.game_message_navbar {
	margin-right:0;
}

li.nav-item.active a.nav-link{
	border-bottom: solid black 0.4rem;
	padding-bottom: 0.4rem;
	color:black;
}
a.game_category_link{
	margin-bottom:-1rem;
}
@keyframes border-size {
    0%   {
    	padding-bottom:0.8rem;
    	border-bottom: solid black 0rem;
    }
    100% {
    	padding-bottom:0.4rem;
    	border-bottom: solid black 0.4rem;
    }
}

li.nav-item a.game_category_link:hover{
	animation-name: border-size;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}
.list-group{
	padding-right: 0;
	
}

.card-block.interaction{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.right{
	float: right;
}
div.message-sidebar{
	margin-top:1rem;
	padding:0;
	color:#f7f7f9;
}

.fa-thumbs-up,.fa-thumbs-down{
	margin-right: 10px;
	margin-top: 2.5px;
}

.btn-link{
	margin-left: 0.75rem;
}

.card-block.header{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

ul.list-group.messages{
	box-shadow: 0px 0px 2px black;
}

ul.list-group.list-sidebar{
	padding:0;
	background-color:white;
	border:1px solid rgba(0,0,0,.125);
}
a.list-group-item.sidebar-el{
	font-size: 100%;
    padding: 0.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	display:inline-block;
	border:none;
	color: black;
}
a.list-group-item.sidebar-el:hover{
	background-color: #f7f7f9;
}
a.sidebar-user {
	font-size: 0.90rem;
    padding: 0.1rem;
	padding-left: 1rem;
	border:none;
	border-top-right-radius: .1rem;
   	border-top-left-radius: .1rem;
	border-bottom-right-radius: .1rem;
   	border-bottom-left-radius: .1rem;
}

a.sidebar-user:hover{
	background-color:#374454;
}

span.sidebar-header {
	margin-top:1rem;
	margin-bottom: 0.1rem;
   	font-weight: bold;
   	padding-left: .5rem;
   	color: black;
}
img.avatar-small {
	width:1.2rem;
}

span.avatar-name {
	overflow:hidden;
  	display:inline-block;
 	text-overflow: ellipsis;
 	white-space: nowrap;
 	font-size:85%;
 	line-height: 20px;
 	float:left;
 	width: 75%;
}
span.avatar-name span.user-name {
	padding-left:.5rem;
}
span.unread-count {
	float:right;
	display:inline-block;
	color: #767676;
	overflow:hidden;
  	display:inline-block;
  	white-space: nowrap;
  	font-size:100%;
 	line-height: 20px;
}

.card.message.clickable:hover{
	border: solid 1px #ffa500;
}

div.inline{
	display: inline-flex;
	margin: auto;
}

form.inline{
	display: inline;
}

div.inline#typeAndContent{
	margin-bottom: 20px;
	margin-top: 10px;
	height: 30px;
}
.replyFormCard{
	margin-top: 15px;
	margin-bottom: 10px;
}
#write{
	float:right;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
}
#hide{
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
}

#positive-negative button{
	margin-left: 10px;
}
div.inline div.dropdown{
	margin-right: 20px;
}
#dropdownReplyMenu{
	margin-top: 10px;
}

.form-group.input{
	padding-left: 5px;
	padding-right: 5px;
}

.contentForm{
	height: 100px;
	margin-bottom: 50px !important;
	margin-top: 15px !important;
}

.contentForm div{
	padding-top: 15px;
	background-color: #292b2c;
	padding-left: 35px;
}

.contentForm div a#Text p{
	padding-left: 5px;
}
.badge-tag{
	margin-left: 10px !important;
}



.contentForm div a span:hover{
	padding-bottom: 5px;
	transition: .3s;
}
.contentForm div:not(.last){
	border-right: 1px solid rgba(255, 255, 255, 0.5); 
	border-radius: 10px 0px 0px 10px;
}
.contentForm div.last{
	border-radius: 0px 10px 10px 0px;
}

div.shared{
	width:100%;

	height: 20px;
	padding-left: 10px;
	margin-top: 5px;
}

#link,#title,#body{
	margin-top: 10px;
}

.contentSelected{
	border: solid 2px #ffa500 !important ;
}


#typeDropdown{
	padding-left: 5px;
	margin-bottom: 5px;
}

.replyBody,.replyLink{
	margin-top: 10px;
}

.replyContent{
	padding-left: 5px;
}

#replyMessage,#replyEmpty,#messageEmpty{
	text-align:center;
}




.white{
	color:white;
}

.btn-link.black,.black{
	color: black !important;
}

.btn-link.black:hover{
	color: #D3D3D3!important;
}

.grey{
	color: #D3D3D3 !important;
}

.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  font-family:inherit;
  font-size:inherit;
  padding-left:10px;
}

.btn-link:hover {
 	text-decoration: none !important;
}

.game-follow,.game-unfollow{
	margin-top: 25px;
	margin-left: 10px;
	margin-right: -25px;
}

h5.typeahead-header {
	margin: 0 20px 5px 20px;
	padding: 3px 0;
	border-bottom: 1px solid #ccc;
}

ul.list-group.result-list {
	box-shadow: 0px 0px 1px black;
	padding:0;
}

ul.user-count-list{
	margin-top:1rem
}

li.list-inline-item.user-count-list-item {
	line-height:1.1; 
	margin-right:1rem;
	text-align:center;
	font-size:small
}

div.user-count-number {
	font-size:xx-large;
}
img.user-image{
	margin-right:1rem; 
	max-width:5rem
}

img.game-logo {
	margin-right:1rem; 
	max-width:10rem
}

h5.card-title {
	font-weight:bold;top:2rem; margin-top: .5rem;
}

div.card-block.game-block {
	padding:.1rem;
}
span.game-attr{
	font-weight:bold;
}

div.messageAndReplies{
	margin-top: 15px;
}

#writeInGame{
	position:fixed;
	top:660px;
	right:30px;
	height:60px;
	width: 65px;
	background-color: #292b2c;
	color: white;
}

#writeInGame:hover{
	border: solid 1px #ffa500;
	cursor: pointer;
}

img.message_logo {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.69);
	height: 40px;
}

img.user_bar_logo {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.69);
	height: 20px;
}

img.navbar_profile_avatar {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.69);
	height: 25px;
}
.navbar_profile_button{
	background-size: cover;
}


a.see-more{
    padding: .3rem;
    padding-left: 15px;
}

a.message-user {
	margin-left:1rem;
}

a.card-title:visited {
	color:purple;
}

a#login{
	text-decoration: none;
}

a#trendings,a#register{
	text-decoration: none;
}

div.trendAndPop{
	margin-top: 150px;
	margin-bottom: 25px
}

#registerNavDiv{
	margin-right: 10px;
}
#trendingsNavDiv{
	margin-right: 150px;
}

#trendings-icon{
	margin-top: 7px;
	margin-left: 7px;
}

span.message-date {
	float:right;
	margin-right:1rem;
	margin-top:.5rem;
}
h5.content-not-found {
	text-align: center;
}
h5.post-content {
	margin-top: 2rem;
}
ul.list-group.user-list-group {
	margin-top: 2rem;
}

body{
	 margin-bottom: 60px !important;
}

div.search-games-anon{
	padding-bottom: 15px;
	padding-top: 15px;
	 border-radius: 15px;
}

#welcome{
	margin-top: 120px;
}

#anon-search{
	margin-top: 60px;
}

div.navbar.sticky-navbar {
	padding-bottom:0; 
	padding-top:0; 
	position:sticky;
	margin-top: -1px;
}

div.fake-bottom {
	background-color:#f7f7f7;
	margin-bottom:0
}

div.card.border-top-remove {
	border-top: none;
	margin-bottom: 1rem;
}

a.btn.omit-button {
	margin-left:1rem
}

#errorRepeat,#errorPassword,#errorUser{
	color : red;
	text-align:center;
	font-size:14px;
	margin-bottom:5px;
}

.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}