<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>paw2017a1frontend</title>
  <meta name="description" content="">



  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/index.css">
   <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/loginregister.css">
   <!-- endbuild -->

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/typeaheadjs.css">
   <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
   <!-- endbuild -->

  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript">

  contextPath='';

  </script>
</head>
<body ng-controller="IndexCtrl">

<nav ng-cloak ng-show = "showNavBar"
  class="navbar main_navbar sticky-top navbar-collapse navbar-toggleable-md navbar-inverse bg-inverse">

    <div class="navbar-header">
        <a ng-if="user != null" class="navbar-brand"  href="#!/">
            <img alt="logo" width="150" src="images/vaporw.png" />
        </a>
        <a ng-if="user == null" class="navbar-brand"  href="#!/welcome">
              <img alt="logo" width="150" src="images/vaporw.png" />
        </a>

    </div>

    <ul class="navbar-nav mr-auto">

    </ul>

    <form  style="float:right;" class="autocomplete form-inline my-2 my-lg-0" ng-action="/search/{{term}}" method="get" >
      <input style="width: 20rem" class="search typeahead form-control mr-sm-2" type="text" placeholder="Search games, users and messages" ng-model="term"/>
    </form>

    <div ng-if="isLoggedIn">
        <div style="float:right;" class="dropdown">
          <button class="btn navbar_profile_button" type="button" style="background-color: rgb(41,43,44);" id="dropdownMenuButton" data-toggle="dropdown">
            <img
              ng-src="{{baseUrl}}/api/user/{{user.name}}/avatar"
              class="img-rounded navbar_profile_avatar clickable" style="border: 1px solid rgb(247,247,247);">
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" >
            <a class="dropdown-item"
              ng-href="#!/user/{{user.name}}/messages"><strong>{{user.name}}</strong><br /> View my profile</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item clickable" ng-click="changeAvatar()">Update your Avatar</div>
            <div ng-if="!isSteamLinked()">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" ng-href="#!/steam-link">Link with your Steam account</a>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">
                <button ng-click = "logOut()">  {{'LOG_OUT' | translate}}</button>
            </a>
          </div>
        </div>
        <notifications></notifications>
        <div style="float: right" >
              <a id="trendings" ng-href="#!/welcome"><h5
                  class="white clickable">
                  <i class="fa fa-line-chart fa-lg" aria-hidden="true" id="trendings-icon"></i>
                </h5></a>


        </div>
      </div>

    <div ng-if="!isLoggedIn">
      <div style="float: right">
        <a id="login" ng-click="logIn()"><h5
            class="white clickable">
            Login
          </h5></a>
      </div>

      <div style="float: right" id ="registerNavDiv">
          <a id="register" ng-click="register()"><h5
              class="white clickable">
              Register
            </h5></a>


      </div>
    </div>

</nav>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- Add your site or application content here -->


    <div ng-view=""></div>
    <ui-view></ui-view>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-XXXXX-X');
   ga('send', 'pageview');
 </script>

 <!-- build:js(.) scripts/oldieshim.js -->
  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <![endif]-->
  <!-- endbuild -->
  <script src="/scripts/paths.js"></script>
  <script src="bower_components/requirejs/require.js" data-main="/scripts/build.js"></script>
</body>
</html>
