		    <div class="modal-content">
			      <div class="modal-header">
				        <h5 class="modal-title">  {{'REPLY_TO' | translate}} {{postUsername}}</h5>
				          <button type="button" ng-click="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						   </button>
			      </div>
		      <div class="modal-body">
	
			 		<div class="dropdown replyContent">
			          	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownReplyMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			           	 {{contentType}}
			          	</button>
				          <div class="dropdown-menu " aria-labelledby="dropdownReplyMenu">
				             <button class="dropdown-item " ng-click=" setContentText();" > {{'CONTENT_TEXT' | translate}}</button>
					    	  <button class="dropdown-item  "   ng-click="setContentVideo();" > {{'CONTENT_VIDEO' | translate}} </button>
				          </div>
			        </div>
			      <form class="replyForm"  id="replyForm" ng-submit="submitReply()"  name="replyForm" novalidate >

				     	<div class="form-group input " ng-class="{'has-danger':(replyForm.link.$error.pattern || replyForm.link.$error.required) && replyForm.$submitted}"  ng-if="contentType === 'Video'">
					    	<input name="link" ng-model="$parent.link" type="text" class="form-control replyLink" id="replyLink" placeholder="Link" ng-pattern="youtubePattern" required >
					    	<label  class="form-text error " ng-if="replyForm.link.$error.required && replyForm.$submitted" >{{'REPLY_LINK_EMPTY' | translate}}</label>
					    	<label  class="form-text error " ng-if="replyForm.link.$error.pattern && replyForm.$submitted" >{{'REPLY_LINK_INVALID' | translate}}</label>
						</div>

						<div class="form-group input " ng-class="{'has-danger':(replyForm.body.$error.maxlength || replyForm.body.$error.required) && replyForm.$submitted}" ng-if="contentType === 'Text'">
						    <textarea ng-model="$parent.body" type="text" class="form-control replyBody" id="replyBody" placeholder="Body" rows="3"  ng-maxlength="1000" name="body" required></textarea>
						    <label  ng-show="replyForm.body.$error.maxlength && replyForm.$submitted" class="form-text error "  >{{'REPLY_BODY_FULL' | translate}}</label>
						    <label   ng-show="replyForm.body.$error.required && replyForm.$submitted" class="form-text error "   >{{'REPLY_BODY_EMPTY' | translate}}</label>
						</div>
				      <div class="modal-footer">
				        <button type="submit" ng-disable="isReplying" class="btn btn-primary " ><span  class="fa fa-pencil "></span></button>			        
				      </div>
			     </form> 

		    </div>
	  </div>

