<div ng-if="game">
  <div class ="row contentForm">
      <div ng-click="triggerTextForm()" class=" col  offset-md-4 col-md-2  white clickable" ng-class="{'contentSelected' : showTextForm}" id="textDiv">
        <a  id="Text" ><span class="fa fa-font fa-3x"></span> <br/><p >{{'CONTENT_TEXT' | translate}}</p></a>
      </div>



      <div ng-click="triggerVideoForm()" class=" col  col-md-2 last white clickable" ng-class="{'contentSelected' : showVideoForm}" id="videoDiv">
      <a  id="Video"  ><span class="fa fa-video-camera fa-3x"></span> <br/><p >{{'CONTENT_VIDEO' | translate}}</p></a>
      </div>
  </div>

  <!--<c:if test="${postsNum == 0}">
    <h5 id="messageEmpty"><spring:message code="messages.empty"> </spring:message></h5>
  </c:if>-->

  <message-form
    show-text-form="showTextForm"
    show-video-form="showVideoForm"
    append="appendToPosts"
    id-name="idName"
    ng-show="showTextForm || showVideoForm"
  />
</div>

<div on-scroll-to-bottom="scroll()">
  <div  ng-repeat="p in posts">
      <post-view post="p"/>
  </div>
  <div ng-if='isEmpty'>
      <error-list>{{'NO_MESSAGES_FOUND' | translate}}</error-list>
  </div>

  <div ng-if='serverError'>
      <error-list>{{'SERVER_ERROR' | translate}}</error-list>
  </div>
</div>
