<div class="game_profile_container container">
    <game-profile id='gameId'></game-profile>
</div>

        <!--
<c:if test="${pageTotal > 1}" >
    <div class="col-md-12">
        <nav>
          <ul class="pagination justify-content-center" style="margin-top:1rem;">
              <li class="page-item <c:if test="${currentPage == 1 }"> disabled</c:if>">
                  <a class="page-link" href="
                    <c:url value="/game/steam/${game.appid}/${type}">
                        <c:param name="page" value="1"/>
                    </c:url>
                    ">
                    <spring:message code="nav.first"></spring:message>
                </a>
              </li>
              <li class="page-item <c:if test="${currentPage == 1 }"> disabled </c:if>">
                <a class="page-link" href="
                    <c:url value="/game/steam/${game.appid}/${type}">
                        <c:param name="page" value="${currentPage -1}"/>
                    </c:url>
                    ">
                    <spring:message code="nav.previous"></spring:message>
                </a>
            <c:forEach var="i" begin="${ (1 >= currentPage - maxPagesHalf)? 1 : currentPage - maxPagesHalf}" end="${(pageTotal <= currentPage + maxPagesHalf)? pageTotal: currentPage + maxPagesHalf}">
                <c:choose>
                    <c:when test="${i == currentPage }">
                        <li class="page-item active">
                          <span class="page-link">
                                <c:out value="${i }"/>
                            <span class="sr-only">(current)</span>
                          </span>
                        </li>
                    </c:when>
                    <c:otherwise>
                        <li class="page-item">
                            <a class="page-link" href="
                                    <c:url value="/game/steam/${game.appid}/${type}">
                                        <c:param name="page" value="${i}"/>
                                    </c:url>
                                    " >
                                <c:out value="${i }"/>
                            </a>
                        </li>
                    </c:otherwise>
                   </c:choose>
            </c:forEach>
            <li class="page-item <c:if test="${currentPage == pageTotal }"> disabled </c:if>">   
                <a class="page-link" href="
                                    <c:url value="/game/steam/${game.appid}/${type}">
                                        <c:param name="page" value="${currentPage + 1}"/>
                                    </c:url>
                                    ">
                    <spring:message code="nav.next"></spring:message>
                </a>
                </li>
                <li class="page-item <c:if test="${currentPage == pageTotal }"> disabled</c:if>">
              <a class="page-link" href="
                <c:url value="/game/steam/${game.appid}/${type}">
                    <c:param name="page" value="${pageTotal }"/>
                </c:url>
                ">
                <spring:message code="nav.last"></spring:message>
                </a>
              </li>
          </ul>
        </nav>
        </div>
    </c:if>
        </div>
    </c:if>
</div>

</div>
-->