<div class="container" >
    <div class="card card-container" id="loginCard">
        <a href="#/welcome"><img id="profile-img" class="profile-img-card" src="images/vapor.png" /></a>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" ng-submit="loginSubmit()"  >
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" ng-model="loginForm.username" id="inputEmail" class="form-control" placeholder="{{'USERNAME' | translate}}" required autofocus >
            <input type="password" ng-model="loginForm.password" id="inputPassword" class="form-control" placeholder="{{'PASSWORD' | translate}}" required >
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" ng-model="loginForm.rememberMe" value="remember-me"></input> {{'REMEMBER_ME' | translate}}
                </label>
            </div>
            <p ng-if="loginFailed" id="errorPassword">{{'MESSAGE_BAD_CREDENTIALS' | translate}}</p>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{{'SIGN_IN ' | translate}}</button>
        </form><!-- /form -->
        <a ng-href="#!/register" class="forgot-password">
            {{'REGISTER_NOW' | translate}}
        </a>
    </div><!-- /card-container -->
</div>
