<div style="float:right;" class="dropdown">
  <button class="btn navbar_profile_button" ng-click="updateNotifications()" type="button" id="notificationsDropdown" data-toggle="dropdown" style="background-color: rgb(41,43,44); color: rgb(247,247,247);">
    <i class="fa fa-bell fa-lg" aria-hidden="true">{{getNotifications().length}}</i>
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsDropdown" style="height: auto; width: 25em;word-break: break-all;">
    <div class="dropdown-item">
      <h4 style="text-align: center;">{{'NOTIFICATIONS' | translate}}</h4>
    </div>
    <div class="dropdown-divider"></div>
      <div ng-if="getNotifications().length == 0" class="dropdown-item">
        {{'NO_NOTIFICATIONS' | translate}}
      </div>
      <div ng-if="getNotifications().length != 0" >
        <div ng-repeat="notif in getNotifications()"  varStatus="gen">

                <div class="clickable notification" ng-click="goToUserProfile(notif.id, notif.userFollowedDetails.name)" ng-if="notif.type == 'FOLLOWED' " class="dropdown-item">
                    <p style="word-break: break-word; white-space:normal;">
                      <a><i class="fa fa-user-plus" aria-hidden="true"></i>{{notif.userFollowedDetails.name}} {{'FOLLOWED' | translate}}</a>
                    </p>
                </div>

                <div class="clickable notification" ng-if="notif.type == 'SHARED' " class="dropdown-item">
                  <p style="word-break: normal; white-space:normal;">
                    <a ng-click="goToReplies(notif.id, notif.sharedMessageDetails.messageId)">
                      <i class="fa fa-retweet" aria-hidden="true"></i>
                      <div ng-repeat = "sharer in notif.sharedMessageDetails.users" >
                        {{sharer.username}}
                        <span ng-if="$index == notif.sharedMessageDetails.users.length - 2" > {{'AND' | translate}} </span>
                        <span ng-if="$index < notif.sharedMessageDetails.users.length - 2"> , </span>
                      </div>
                      {{'SHARED_MESSAGE' | translate}}
                      <em style="color: blue;">{{notif.sharedMessageDetails.title}}</em>
                    </a>
                  </p>
                </div>


                <div class="clickable notification" ng-if="notif.type == 'REPLIED' " class="dropdown-item">
                  <p style="word-break: normal; white-space:normal;">
                    <a ng-click="goToReplies(notif.id, notif.repliedMessageDetails.messageId)">
                      <i class="fa fa-reply" aria-hidden="true"></i>
                      <div ng-repeat="replier in notif.repliedMessageDetails.users">
                        {{replier.username}}
                        <span ng-if="$index == notif.repliedMessageDetails.users.length - 2" > {{'AND' | translate}} </span>
                        <span ng-if="$index < notif.repliedMessageDetails.users.length - 2"> , </span>
                      </div>
                      {{'REPLIED_MESSAGE' | translate}}
                      <em style="color: blue;">{{notif.repliedMessageDetails.title}}</em>
                    </a>
                  </p>
                </div>



          </div>
          <div ng-if="$index != getNotifications().length - 1" class="dropdown-divider"></div>
      </div>
  </div>
</div>
