<div class="col-md-12">
    <nav>
        <ul class="pagination justify-content-center" style="margin-top:1rem;">
            <li class="page-item" ng-class="currentPage == 1 ? 'disabled' : ''">
                <a class="page-link" ng-href="{{url}}?page=0">
                    {{ 'NAV_FIRST' | translate }}
                </a>
            </li>
            <li class="page-item" ng-class="currentPage == 1 ? 'disabled': ''">
                <a class="page-link" ng-href="{{url}}?page={{currentPage-1}}">
                    {{ 'NAV_PREV' | translate }}
                </a>
            </li>
            <li ng-repeat='index in middleRange' class="page-item" ng-class="index == currentPage ? 'active' : ''">
                <span ng-if='index == currentPage' class='page-link'>
                    {{index}}
                    <span class="sr-only">(current)</span>
                </span>
                <a ng-if="index != currentPage" ng-href="{{url}}?page={{index}}" class="page-link">
                    {{index}}
                </a>
            </li>
            <li class="page-item" ng-class="currentPage == lastPage ? 'disabled' : ''">   
                <a class="page-link" ng-href="{{url}}?page={{currentPage + 1}}">
                    {{ 'NAV_NEXT' | translate }}
                </a>
            </li>
            <li class="page-item" ng-class="currentPage == lastPage ? 'disabled' : ''">
                <a class="page-link" ng-href="{{url}}?page={{lastPage}}">
                    {{ 'NAV_LAST' | translate }}
                </a>
            </li>
        </ul>
    </nav>
</div>