<div class="card message"  id="{{post.message.id}}"  user="{{post.message.author.name}}">
 <!--<a class="card-link-absolute" ng-href="/post?id={{post.message.id}}"></a>-->
 <div class=" shared" ng-if="post.sharers.length > 0">
	<span ng-if="post.sharers.length == 1" > <a ng-href="#!/user/{{post.sharers[0].name}}/messages">{{post.sharers[0].name}} </a> has shared it </span>

	<span ng-if="post.sharers.length > 1" >
		<div ng-repeat="sharer in post.sharers" style="display:inline;">
			<a ng-href="#!/user/{{sharer.name}}">{{sharer.name}} </a>
			<span ng-if="$index < post.sharers.length - 2">,</span>
			<span ng-if="$index == post.sharers.length - 2">and</span>
		</div>
		have shared it
	</span>

  </div>

  <div class="card-block header">
  <img ng-src="{{baseUrl}}/api/user/{{post.message.author.name}}/avatar" class="img-rounded message_logo"/>
    <a class="message-user" ng-href="#!/user/{{post.message.author.name}}/messages"> {{post.message.author.name}} </a>
    <span class="message-date">{{post.message.date | date:'dd/MM/yyyy @ h:mma'}} </span>
  </div>

  <div class="card-block">
    <h4 class="card-title"><span class="type-message"><a class="card-title" ng-href="#!/post/{{post.message.id }}">
    {{post.message.title}}
	</a></span></h4>
	<p ng-if='body && post.message.content_type == "TEXT"'>
		{{ post.message.content_data}}
	</p>
    <div ng-repeat="game in post.message.tags" style="display:inline;">
		<a ng-href="#!/game/{{game.id}}/messages">#{{game.name}}</a>
	</div>
  </div>

  <div  ng-if="post.message.content_type == 'VIDEO'" class="card-block">
		<div class="video-container">
			<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" ng-src="{{trustedVideoUrl(post.message.content_data)}}"></iframe>
			</div>
		</div>
	</div>



 <div class="card-block interaction ">

   	<a ng-if="user != null" ng-click="replyModal()"  class="card-link reply clickable"  modal="replyModal"  ><span>{{post.times_replied}}<span class="fa fa-reply "> </span>  </span> </a>

   	<a ng-if="user == null"  class="card-link "   ><span>{{post.times_replied}}<span class="fa fa-reply "> </span>  </span> </a>

    <a ng-if="user == null" class="card-link grey "> <span> {{post.times_shared}}<span  class="fa fa-retweet "> </span> </span> </a>

	<div ng-if="isSameUser" >
		 <a class="card-link grey cant-share"> <span> {{post.times_shared}}<span  class="fa fa-retweet "> </span> </span> </a>
		  <form class="inline deleteForm" >
			<button type="submit" ng-click="deleteMessage(post.message.id)" class="btn-link  cant-share"><span  class="fa fa-trash "> </span></button>
		</form>
	</div>

  	<form ng-click="share(post.message.id)" ng-if="!isSameUser && user!= null && !haveShared" class="inline retweetForm" >
			<button type="submit" class="btn-link"><span> {{post.times_shared}}<span  class="fa fa-retweet "> </span> </span> </button>
	</form>

	<form  ng-click="unshare(post.message.id)" ng-if="!isSameUser && user!= null && haveShared" class="inline retweetForm" >
		<button type="submit" class="btn-link black cant-share"><span> {{post.times_shared}}<span  class="fa fa-retweet "> </span> </span> </button>
	</form>


 <span class="right">{{post.message.message_type}}</span>
 	<div ng-if="post.message.message_type === 'REVIEW'" style="display:inline;">
			<span ng-if="post.message.positive == true" class="fa fa-thumbs-up right"></span>
 			<span ng-if="post.message.positive == false" class="fa fa-thumbs-down right"></span>
 	</div>


  </div>
</div>
