<div class="container">
    <div class="row">
        <div class="col-md-12 messageAndReplies">
            <post-view ng-if='post' body='true' post='post'></post-view>
            <h5 id="replyMessage">{{'REPLIES' | translate }}</h5>
            <span ng-if='replies.length == 0'>
                <h5 ng-if='user' id="replyEmpty">{{ 'REPLIES_EMPTY' | translate }}</h5>
                <h5 ng-if='!user' id="replyEmpty">{{ 'REPLIES_EMPTY_ANON' | translate }}</h5>
            </span>
            <div class="card replyFormCard" ng-show='user'>            
                <div class="dropdown replyContent">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownReplyMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{contentType == 'text' ? ('CONTENT_TEXT' | translate) : ('CONTENT_VIDEO' | translate)}}
                    </button>
                    <div class="dropdown-menu " aria-labelledby="dropdownReplyMenu">
                        <button class="dropdown-item " ng-click=" setContentText();" > {{'CONTENT_TEXT' | translate}}</button>
                        <button class="dropdown-item  "   ng-click="setContentVideo();" > {{'CONTENT_VIDEO' | translate}} </button>
                    </div>
                </div>
                <form class="replyForm"  id="replyForm" ng-submit="submitReply()"  name="replyForm" novalidate >
                    <div class="form-group input " ng-class="{'has-danger':(replyForm.body.$error.pattern || replyForm.body.$error.required) && replyForm.$submitted}"  ng-if="contentType === 'video'">
                        <input name="body" ng-model="$parent.body" type="text" class="form-control replyLink" id="replyLink" placeholder="Link" ng-pattern="youtubePattern" required >
                        <label  class="form-text error " ng-if="replyForm.body.$error.required && replyForm.$submitted" >{{'REPLY_LINK_EMPTY' | translate}}</label>
                        <label  class="form-text error " ng-if="replyForm.body.$error.pattern && replyForm.$submitted" >{{'REPLY_LINK_INVALID' | translate}}</label>
                    </div>

                    <div class="form-group input " ng-class="{'has-danger':(replyForm.body.$error.maxlength || replyForm.body.$error.required) && replyForm.$submitted}" ng-if="contentType === 'text'">
                        <textarea ng-model="$parent.body" type="text" class="form-control replyBody" id="replyBody" placeholder="Body" rows="3"  ng-maxlength="1000" name="body" required></textarea>
                        <label  ng-show="replyForm.body.$error.maxlength && replyForm.$submitted" class="form-text error "  >{{'REPLY_BODY_FULL' | translate}}</label>
                        <label   ng-show="replyForm.body.$error.required && replyForm.$submitted" class="form-text error "   >{{'REPLY_BODY_EMPTY' | translate}}</label>
                    </div>
                    <div class="modal-footer">
                                <p id="errorPost" ng-if="postError">{{'ERROR_WHILE_POSTING' | translate}}</p>
                        <button type="submit" ng-disable="isReplying" class="btn btn-primary " ><span  class="fa fa-pencil "></span></button>
                    </div>
                </form>
            </div>
            <ul ng-repeat='message in replies'>
                <div class="card game_message" id="{{message.id}}">
                    <div class="card-block header">
                        <h6 class="card-title mb-2 muted msg-user" >
                            <img ng-src="{{baseUrl}}/api/user/{{message.author.name}}/avatar" class="img-rounded message_logo"/>
                                <a ng-href="#!/user/{{message.author.name}}"> 
                                    {{message.author.name}}
                                </a>
                            <span class="message-date">{{message.date | date:'dd/MM/yyyy @ h:mma'}} </span>
                        </h6> 
                    </div>
                    <div class="card-block">
                        <p class="card-text msg-body">
                            <span ng-if='message.content_type == "TEXT"' >{{message.content_data }}</span>
                            
                        </p>
                        <div ng-if='message.content_type == "VIDEO"' class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" ng-src="{{trustedVideoUrl(message.content_data)}}"></iframe>
                        </div>
                        <form ng-if='message.author.name == user.name' class="inline deleteForm" ng-submit="deleteMessage(message.id, $index)" method="POST">
                            <button type="submit" class="btn-link "><span  class="fa fa-trash "> </span> </button>
                        </form> 
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>