<div class="row align-items-end justify-content-center game_background" >
    <div class="col-md-2 game_head ">
        <img ng-src="{{baseUrl}}/api/user/{{targetuser.name}}/avatar" class="img-rounded game_logo img-fluid"/>
    </div>
    <div class="col-md-10"> <span class="game_header" >
        <h1>
            {{targetuser.name}}
        </h1>
        </span>
    </div>
</div>


<div class="row navbar game_navbar navbar-toggleable-md navbar-light bg-faded" role="navigation">
    <div class="push-md-2 col-md-10 collapse navbar-collapse" id="gameMessageCategoryNav">
        <ul class="navbar-nav mr-auto game_message_navbar">
                    <li class='nav-item' ng-class="type().type == 'messages' ? 'active'  : ''">
            <h3>
                <a class="nav-link game_category_link"
                    ng-href="#!/user/{{targetuser.name}}/messages">
                        <div class = "row justify-content-center">
                            <span class="game_message_category" >
                                {{'COUNT_MESSAGES' | translate}}
                            </span>
                        </div>
                        <div class="row justify-content-center">
                            <span class="game_message_category_number" >
                                {{targetuser.messages}}
                            </span>
                        </div>
                </a>
            </h3>
            </li>
            <li class='nav-item' ng-class="type().type == 'followers' ? 'active'  : ''">
                <h3>
                    <a class="nav-link game_category_link" ng-href="#!/user/{{targetuser.name}}/followers">
                        <div class = "row justify-content-center">
                            <span class="game_message_category" >
                                {{'COUNT_FOLLOWERS' | translate}}
                            </span>
                        </div>
                        <div class="row justify-content-center">
                            <span class="game_message_category_number" >
                                {{targetuser.followers}}
                            </span>
                        </div>
                    </a>
                </h3>
            </li>

            <li class='nav-item' ng-class="type().type == 'following' ? 'active'  : ''">
                <h3>
                    <a class="nav-link game_category_link" ng-href="#!/user/{{targetuser.name}}/following">
                        <div class = "row justify-content-center">
                            <span class="game_message_category" >
                                {{'COUNT_FOLLOWING' | translate}}
                            </span>
                        </div>
                        <div class="row justify-content-center">
                            <span class="game_message_category_number" >
                                {{targetuser.following}}
                            </span>
                        </div>
                    </a>
                </h3>
            </li>

            <li class='nav-item' ng-class="type().type == 'gamesFollowing' ? 'active'  : ''">
                <h3>
                    <a class="nav-link game_category_link" ng-href="#!/user/{{targetuser.name}}/games">
                        <div class = "row justify-content-center">
                            <span class="game_message_category" >
                                {{'COUNT_GAMES' | translate}}
                            </span>
                        </div>
                        <div class="row justify-content-center">
                            <span class="game_message_category_number" >
                                {{targetuser.game_following}}
                            </span>
                        </div>
                    </a>
                </h3>
            </li>
        </ul>

        <div ng-if="targetuser.currentUserFollows != null"  style="margin-top:1rem;">
          <button ng-click="unfollow()" ng-if="targetuser.currentUserFollows == true" class="btn btn-primary" type="submit">
            {{'UNFOLLOW' | translate }}
          </button>
          <button ng-click="follow()" ng-if="targetuser.currentUserFollows != true" class="btn btn-primary" type="submit">
            {{'FOLLOW' | translate }}
          </button>
        </div>
    </div>
</div>
<div class="push-md-1 col-md-10 game_content "><ui-view></ui-view></div>
